<div class="page_wrapper">
  <div class="content_wrapper">
    <div class="title">
      <h2>Priljubljeni filmi</h2>
    </div>
    <div class="content">
      <div>
        <div class="filter">
          <div class="filter_name">
            <h2>Filter</h2>
          </div>
          <div class="filter_genre">
            <h3>Žanri</h3>
            <ul class="genres_list">
              <li class="genre" [id]="'genre'+genre.id" *ngFor="let genre of genres">
                <a (click)="onGenreClick(genre)" >{{genre.name}}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div>
        <div class="films">
          <section class="films_grid_section">
            <div class="films_grid">
              <div class="film_card" *ngFor="let film of films">
                <div class="film_content">
                  <div class="image_container">
                    <div class="image_wrapper">
                      <a class="image" [href]="baseFilmUrl+film.id" [title]="film.title" target="_blank" rel="noopener noreferrer">
                        <img loading="lazy" class="poster" [src]="baseImgUrlDefault+film.poster_path" [srcset]="baseImgUrlDefault+film.poster_path+' 1x, '+baseImgUrlAlt+film.poster_path+' 2x'" [alt]="film.title">
                      </a>
                    </div>
                  </div>
                  <div class="grade_container">
                    <div class="grade_ring" [style.background-image]="styleRingForGrade(film.vote_average)">
                      <div class="grade_circle">
                        <div class="grade_percent">
                        <span class="icon">{{film.vote_average*10+"%"}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <h2 class="film_title">
                    <a class="film_link" target="_blank" rel="noopener noreferrer" [href]="baseFilmUrl+film.id" [title]="film.title">{{film.title}}</a>
                  </h2>
                  <p class="film_date">{{transformDate(film.release_date)}}</p>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
