<div class="page_wrapper">
  <div class="content_wrapper">
    <div class="title">
      <h2>Priljubljeni filmi</h2>
    </div>
    <div class="content">
      <div>
        <div class="filter">
          <div class="filter_name">
            <h2>Filter</h2>
          </div>
          <div class="filter_genre">
            <h3>Žanri</h3>
            <ul class="genres_list">
              <li class="genre" *ngFor="let genre of genres">
                <a (click)="onGenreClick(genre)" >{{genre.name}}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
